{% extends 'members/auth_base.html' %}
{% load static %}
{% block page_title %}Set Permissions : {{ member.get_full_name }} {% endblock page_title %}

{% block page_content %}

    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-8 col-8 align-self-center"></div>
            <div class="col-md-4 col-4 align-self-center"></div>
        </div>
        {% include 'messages.html' %}
        <div class="row">
            <!-- Column -->
            <div class="col-lg-8 col-xlg-8 col-md-8">
                <div class="card">
                    <div class="card-block">
                        <div class="card-header">
                            <h3 class="card-title">Set Permissions for {{ member.get_full_name }}</h3>
                        </div>
                        <div class="card-body">
                            <form action="{% url 'members:set-permissions' pk=member.pk %}" method="post">{% csrf_token %}
                                {{ form.as_p }}

                                <p class="text-right">
                                    <button type="submit" class="btn btn-info">
                                        Submit <i class="fa fa-send"></i>
                                    </button>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xlg-4 col-md-4">
                <div class="card">
                    <div class="card-block">
                        <div class="card-body">
                            <h4>Instructions</h4>
                            <ol>
                                <li>To select multiple, press and hold down <code>ctrl</code> key.</li>
                                <li>Click on specific items to set permissions.</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
    </div>




{% endblock page_content %}