{% extends 'members/auth_base.html' %}
{% load static %}
{% block page_title %}Delete Transaction {% endblock page_title %}

{% block page_content %}

    <div class="container-fluid">
        {% include 'messages.html' %}
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounting:create-account' %}">Create Account</a>
            </li>
        </ul>
        <div class="row">
            <div class="col-lg-6 col-xlg-3 col-md-6">
                <div class="card">
                    <div class="card-block">
                        <div class="card-header">
                            <h3 class="card-title pt-2 pl-2">Delete transaction </h3>
                        </div>
                        <div class="card-body pt-3 text-center">
                            <form action="{% url 'accounting:delete-transaction' pk=accounttransaction.pk %}" method="post">{% csrf_token %}
                                <h5 class="text-danger">Are you sure you want to delete this transaction
                                    <strong>{{ account.account_name }} ?</strong>
                                </h5>
                                <div class="row p-3">
                                    <div class="col-6">
                                        <a class="btn btn-info" href="{% url 'accounting:chart-of-accounts'  %}">
                                            Cancel <i class="fa fa-cancel"></i>
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <button class="btn btn-info" type="submit" value="Confirm" >
                                            Proceed <i class="fa fa-send"></i>
                                        </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xlg-3 col-md-6">
                <div class="card">
                    <div class="card-block">
                        <div class="card-header">
                            <h3 class="card-title pt-2 pl-2">Accounts in Group</h3>
                        </div>
                        <div class="card-body pt-3">

                        </div>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>
{% endblock page_content %}