{% load static %}
<div class="container-fluid">
    <a class="navbar-brand js-scroll-trigger" href="{% url 'home' %}#page-top">openSACCO</a>
    <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'home' %}#page-top">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link py-3 px-0 px-lg-3 rounded dropdown-toggle waves-effect waves-dark" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Loans
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="{% url 'loans:armotization-schedule-website' %}">
                          <i class="fa fa-calculator"></i> Loan Calculator
                      </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                {% if request.user.is_authenticated %}
                    <a class="nav-link py-3 px-0 px-lg-3 rounded dropdown-toggle waves-effect waves-dark" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Karibu <strong>{{ request.user.last_name }}</strong>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="{% url 'members:directory' %}">
                              <i class="fa fa-dashboard"></i> Dashboard
                          </a>
                          <a class="dropdown-item" href="{% url 'members:profile' pk=request.user.pk %}">
                              <i class="fa fa-user-md"></i> My Profile
                          </a>
                          <a class="dropdown-item" href="{% url 'members:logout' %}">
                              <i class="fa fa-sign-out"></i> Sign Out
                          </a>
                    </div>
                {% else %}
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'members:login' %}">
                        <i class="fa fa-sign-in"></i> Sign in</a>
                {% endif %}
            </li>
        </ul>
    </div>
</div>
