{% extends 'members/auth_base.html' %}
{% load static %}
{% block page_title %}Update Dividends Issue {% endblock page_title %}

{% block page_content %}

    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'dividends:list-issues' %}">Dividends</a></li>
                    <li class="breadcrumb-item">Update {{ dividendsissue.issue_name }}</li>
                </ol>
            </div>
        </div>
        {% include 'messages.html' %}
        <div class="row">
            <div class="col-lg-10 col-xlg-3 col-md-10">
                <div class="card">
                    <div class="card-block">
                        <div class="card-header text-center">
                            <h3 class="card-title pt-2">Update {{ dividendsissue.issue_name }}</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-8 col-md-6">
                                    <form method="post" action="{% url 'dividends:update-issue' pk=dividendsissue.pk %}" class="pt-3">{% csrf_token %}
                                        {{ form.as_p }}
                                        <div class="text-right">
                                            <button class="btn btn-info" type="submit"> Update </button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}