{% extends 'members/auth_base.html' %}
{% load static %}
{% block page_title %}Make Payment {% endblock page_title %}

{% block page_content %}

    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'payments:list-types' %}">Payments</a></li>
                    <li class="breadcrumb-item">Make payment</li>
                </ol>
            </div>
        </div>
        {% include 'messages.html' %}
        <div class="row">
            <div class="col-lg-6 col-xlg-3 col-md-6">
                <div class="card">
                    <div class="card-block">
                        <div class="card-header text-center">
                            <h3 class="card-title pt-2">Make Payment for {{ member.get_full_name }}</h3>
                        </div>
                        <div class="card-body">
                            <form method="post" action="{% url 'payments:make-payment' pk=member.pk %}" class="pt-3">{% csrf_token %}
                                {{ form.as_p }}
                                <div class="text-right">
                                    <button class="btn btn-info" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xlg-3 col-md-6">
                <div class="card">
                    <div class="card-block">
                        <div class="card-header text-center">
                            <h3 class="card-title pt-2">Upload Excel Sheet</h3>
                        </div>
                        <div class="card-body">
                            <form method="post" action="{% url 'payments:upload-contributions' %}" enctype="multipart/form-data" class="pt-3">{% csrf_token %}
                                {{ upload_form }}
                                <div class="text-right mt-4">
                                    <button class="btn btn-info" type="submit">Upload</button>
                                </div>
                            </form>
                            <p>
                            <h3>Instructions</h3>
                              <ol>
                                  <li>Download sample excel file <a href="/static/downloads/contributions.xlsx">here</a></li>
                                  <li>Fill in payment details carefully!</li>
                                  <li>Double check to ensure member numbers correspond to actual members or contribution will be credited to wrong member.</li>
                                  <li>Upload payments for each category separately to reduce risk of erros.</li>
                              </ol>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}