{% extends 'members/auth_base.html' %}
{% block page_title %}Update Fine {% endblock page_title %}
{% block page_content %}
    {% include 'messages.html' %}
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'members:profile' pk=member.pk %}">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'fines:pay-fine' pk=member.pk %}">Pay Fine</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'fines:list-member-fines' pk=member.pk %}">Fines Summary</a>
      </li>
    </ul>
    <div class="card mb-0" id="directory">
      <div class="card-header">
        <h2 class="">Update Fine Details</h2>
      </div>

    <div class="card-body" style="">
        <div class="row">
            <div class="col-4 p-4 pl-5">
                <form method="post" action="{% url 'fines:update-fine' pk=fine.pk %}">{% csrf_token %}
                    {{ form.as_p }}
                    <p class="text-right">
                        <button type="submit" class="btn btn-info">
                            Update <i class="fa fa-send"></i>
                        </button>
                    </p>
                </form>
            </div>
            <div class="col-2 p-4 bg-light text-center">
                <h4>Outstanding</h4>
                {% if amount_outstanding > 0 %}
                    <span class="text-danger">{{ amount_outstanding }}</span>
                {% else %}
                    <span class="text-success">{{ amount_outstanding }}</span>
                {% endif %}
            </div>
            <div class="col-6 p-4">
                <h4>Not the member you're expecting?</h4>
                <ol>
                    <li>Open the members profile page</li>
                    <li>Select the <code>actions</code> dropdown button</li>
                    <li>Then click on <code>Fines</code></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="card-footer"> <p>&nbsp;</p> </div>
    </div>
{% endblock page_content %}